In [1]:
import pandas as pd

In [2]:
luxury_house_data = pd.read_csv("C:/Users/user/Desktop/DS SETS/LH.Proj/Luxury_Housing_Bangalore.csv")
print(luxury_house_data)

       Property_ID       Micro_Market Project_Name Developer_Name  \
0       PROP000001      Sarjapur Road    Project_0            RMZ
1       PROP000002        Indiranagar    Project_1    Puravankara
2       PROP000003  Bannerghatta Road    Project_2   Tata Housing
3       PROP000004       bellary road    Project_3        Embassy
4       PROP000005        Koramangala    Project_4        SNN Raj
...            ...                ...          ...            ...
100995  PROP004730       BELLARY ROAD  Project_229        Embassy
100996  PROP059810       Bellary Road  Project_309        Brigade
100997  PROP065099        HENNUR ROAD   Project_98            RMZ
100998  PROP093022        rajajinagar   Project_21        Embassy
100999  PROP023826         whitefield  Project_325     L&T Realty

        Unit_Size_Sqft Configuration Ticket_Price_Cr Transaction_Type  \
0               4025.0          4bhk     12.75084604          Primary
1               5760.0          3Bhk     16.29215187          Primary
2               7707.0          4bhk     10.51772441          Primary
3               6192.0          3BHK     9.396367494          Primary
4               7147.0          4Bhk     15.34539244        Secondary
...                ...           ...             ...              ...
100995          8546.0         5Bhk+     11.33081004        Secondary
100996          3408.0          3bhk     10.82937316          Primary
100997          4691.0          4BHK     11.18330315          Primary
100998          7435.0          3BHK     10.91415638        Secondary
100999          3218.0          4bhk       â‚¹13.27 Cr          Primary

             Buyer_Type Purchase_Quarter  Connectivity_Score  Amenity_Score  \
0                   NRI         31-03-25            7.990091       5.462863
1                 Other         30-06-24            4.839024            NaN
2                   HNI         31-12-23            8.131315       8.669227
3                   HNI         31-03-24            7.501657       5.720246
4                   HNI         31-12-24            4.525216       8.609649
...                 ...              ...                 ...            ...
100995              CXO         31-12-24            8.552797       6.221131
100996              CXO         30-09-24            6.879269       9.783611
100997              NRI         31-12-23            6.753812       8.383013
100998            Other         30-06-24            4.437787       5.756247
100999  Startup Founder         31-12-23            7.760416       9.989290

         Possession_Status Sales_Channel NRI_Buyer  Locality_Infra_Score  \
0                   Launch        Broker       yes              9.212491
1       Under construction      NRI Desk        no              7.723898
2            Ready to move        Direct       yes              6.985493
3            Ready to move        Online       yes              6.100929
4       Under construction        Broker        no              5.312510
...                    ...           ...       ...                   ...
100995  Under construction      NRI Desk        no              7.511827
100996       Ready to move        Direct        no              9.851849
100997  Under construction        Broker        no              9.101604
100998  Under construction        Broker       yes              8.588551
100999  Under construction        Direct       yes              9.917647

        Avg_Traffic_Time_Min              Buyer_Comments
0                         18        Loved the amenities!
1                        106                         NaN
2                        113   Agent was not responsive.
3                        106         Excellent location!
4                         18     Too far from my office.
...                      ...                         ...
100995                    22  Will buy after possession.
100996                    26   Agent was not responsive.
100997                    44        Loved the amenities!
100998                    66         Excellent location!
100999                    58        Loved the amenities!

[101000 rows x 18 columns]

In [3]:
list(luxury_house_data.columns)
luxury_house_data.dtypes

Property_ID              object
Micro_Market             object
Project_Name             object
Developer_Name           object
Unit_Size_Sqft          float64
Configuration            object
Ticket_Price_Cr          object
Transaction_Type         object
Buyer_Type               object
Purchase_Quarter         object
Connectivity_Score      float64
Amenity_Score           float64
Possession_Status        object
Sales_Channel            object
NRI_Buyer                object
Locality_Infra_Score    float64
Avg_Traffic_Time_Min      int64
Buyer_Comments           object
dtype: object

In [4]:
print(luxury_house_data.isnull().sum()*100/len(luxury_house_data))

Property_ID              0.000000
Micro_Market             0.000000
Project_Name             0.000000
Developer_Name           0.000000
Unit_Size_Sqft           9.946535
Configuration            0.000000
Ticket_Price_Cr          9.919802
Transaction_Type         0.000000
Buyer_Type               0.000000
Purchase_Quarter         0.000000
Connectivity_Score       0.000000
Amenity_Score            9.990099
Possession_Status        0.000000
Sales_Channel            0.000000
NRI_Buyer                0.000000
Locality_Infra_Score     0.000000
Avg_Traffic_Time_Min     0.000000
Buyer_Comments          18.105941
dtype: float64

In [5]:
luxury_house_data["Unit_Size_Sqft"].fillna(luxury_house_data["Unit_Size_Sqft"].median(), inplace=True)
print(luxury_house_data["Unit_Size_Sqft"])

0         4025.0
1         5760.0
2         7707.0
3         6192.0
4         7147.0
           ...
100995    8546.0
100996    3408.0
100997    4691.0
100998    7435.0
100999    3218.0
Name: Unit_Size_Sqft, Length: 101000, dtype: float64

C:\Users\user\AppData\Local\Temp\ipykernel_11844\2929397787.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  luxury_house_data["Unit_Size_Sqft"].fillna(luxury_house_data["Unit_Size_Sqft"].median(), inplace=True)

In [6]:
luxury_house_data["Amenity_Score"].fillna(luxury_house_data["Amenity_Score"].median(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11844\3917201812.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  luxury_house_data["Amenity_Score"].fillna(luxury_house_data["Amenity_Score"].median(), inplace=True)

In [7]:


# Step 1: Clean Ticket_Price_Cr column
luxury_house_data["Ticket_Price_Cr"] = (
    luxury_house_data["Ticket_Price_Cr"]
    .astype(str)                                   # Convert to string
    .str.replace("Ã¢â€šÂ¹", "", regex=False)           # Remove corrupted symbol
    .str.replace("â‚¹", "", regex=False)             # Remove â‚¹
    .str.replace("Cr", "", regex=False)            # Remove 'Cr'
    .str.replace(",", "", regex=False)             # Remove commas
    .str.strip()                                   # Remove extra spaces
)

# Step 2: Convert to float (best for ticket prices)
luxury_house_data["Ticket_Price_Cr"] = pd.to_numeric(
    luxury_house_data["Ticket_Price_Cr"], errors="coerce"
).astype(float)

# Step 3: Check summary
print(luxury_house_data["Ticket_Price_Cr"].describe())

# Step 4: (Optional) Remove unrealistic values (> 50 Cr for example)
luxury_house_data = luxury_house_data[luxury_house_data["Ticket_Price_Cr"] < 50]

# Step 5: Final check
print(luxury_house_data)
print(luxury_house_data.dtypes)

count    90981.000000
mean        12.718336
std          7.665803
min         -1.420000
25%         10.010392
50%         12.037647
75%         14.094726
max        100.000000
Name: Ticket_Price_Cr, dtype: float64
       Property_ID       Micro_Market Project_Name Developer_Name  \
0       PROP000001      Sarjapur Road    Project_0            RMZ
1       PROP000002        Indiranagar    Project_1    Puravankara
2       PROP000003  Bannerghatta Road    Project_2   Tata Housing
3       PROP000004       bellary road    Project_3        Embassy
4       PROP000005        Koramangala    Project_4        SNN Raj
...            ...                ...          ...            ...
100995  PROP004730       BELLARY ROAD  Project_229        Embassy
100996  PROP059810       Bellary Road  Project_309        Brigade
100997  PROP065099        HENNUR ROAD   Project_98            RMZ
100998  PROP093022        rajajinagar   Project_21        Embassy
100999  PROP023826         whitefield  Project_325     L&T Realty

        Unit_Size_Sqft Configuration  Ticket_Price_Cr Transaction_Type  \
0               4025.0          4bhk        12.750846          Primary
1               5760.0          3Bhk        16.292152          Primary
2               7707.0          4bhk        10.517724          Primary
3               6192.0          3BHK         9.396367          Primary
4               7147.0          4Bhk        15.345392        Secondary
...                ...           ...              ...              ...
100995          8546.0         5Bhk+        11.330810        Secondary
100996          3408.0          3bhk        10.829373          Primary
100997          4691.0          4BHK        11.183303          Primary
100998          7435.0          3BHK        10.914156        Secondary
100999          3218.0          4bhk        13.270000          Primary

             Buyer_Type Purchase_Quarter  Connectivity_Score  Amenity_Score  \
0                   NRI         31-03-25            7.990091       5.462863
1                 Other         30-06-24            4.839024       7.499123
2                   HNI         31-12-23            8.131315       8.669227
3                   HNI         31-03-24            7.501657       5.720246
4                   HNI         31-12-24            4.525216       8.609649
...                 ...              ...                 ...            ...
100995              CXO         31-12-24            8.552797       6.221131
100996              CXO         30-09-24            6.879269       9.783611
100997              NRI         31-12-23            6.753812       8.383013
100998            Other         30-06-24            4.437787       5.756247
100999  Startup Founder         31-12-23            7.760416       9.989290

         Possession_Status Sales_Channel NRI_Buyer  Locality_Infra_Score  \
0                   Launch        Broker       yes              9.212491
1       Under construction      NRI Desk        no              7.723898
2            Ready to move        Direct       yes              6.985493
3            Ready to move        Online       yes              6.100929
4       Under construction        Broker        no              5.312510
...                    ...           ...       ...                   ...
100995  Under construction      NRI Desk        no              7.511827
100996       Ready to move        Direct        no              9.851849
100997  Under construction        Broker        no              9.101604
100998  Under construction        Broker       yes              8.588551
100999  Under construction        Direct       yes              9.917647

        Avg_Traffic_Time_Min              Buyer_Comments
0                         18        Loved the amenities!
1                        106                         NaN
2                        113   Agent was not responsive.
3                        106         Excellent location!
4                         18     Too far from my office.
...                      ...                         ...
100995                    22  Will buy after possession.
100996                    26   Agent was not responsive.
100997                    44        Loved the amenities!
100998                    66         Excellent location!
100999                    58        Loved the amenities!

[89971 rows x 18 columns]
Property_ID              object
Micro_Market             object
Project_Name             object
Developer_Name           object
Unit_Size_Sqft          float64
Configuration            object
Ticket_Price_Cr         float64
Transaction_Type         object
Buyer_Type               object
Purchase_Quarter         object
Connectivity_Score      float64
Amenity_Score           float64
Possession_Status        object
Sales_Channel            object
NRI_Buyer                object
Locality_Infra_Score    float64
Avg_Traffic_Time_Min      int64
Buyer_Comments           object
dtype: object

In [8]:
luxury_house_data["Micro_Market"] = luxury_house_data["Micro_Market"].str.title()
print(luxury_house_data["Micro_Market"].unique())

['Sarjapur Road' 'Indiranagar' 'Bannerghatta Road' 'Bellary Road'
 'Koramangala' 'Yelahanka' 'Whitefield' 'Jp Nagar' 'Rajajinagar'
 'Jayanagar' 'Domlur' 'Mg Road' 'Hennur Road' 'Electronic City' 'Hebbal'
 'Kanakapura Road']

In [ ]:
luxury_house_data["Buyer_Comments"].fillna(luxury_house_data["Buyer_Comments"].mode(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11844\337420488.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  luxury_house_data["Buyer_Comments"].fillna(luxury_house_data["Buyer_Comments"].mode(), inplace=True)

In [ ]:
luxury_house_data

In [ ]:
print(luxury_house_data.isnull().sum()*100/len(luxury_house_data))

In [ ]:
print(luxury_house_data.isnull().sum())

In [ ]:
data=luxury_house_data
df=pd.DataFrame(luxury_house_data)
print(df)

In [ ]:
list(luxury_house_data.columns)
luxury_house_data.dtypes

In [ ]:
import pymysql
import pandas as pd

# MySQL connection configuration
config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'root'
}

try:
    conn = pymysql.connect(**config)
    cursor = conn.cursor()

    cursor.execute("CREATE DATABASE IF NOT EXISTS LH_project")
    print("Database 'LH_project' exists or created.")

    cursor.execute("USE LH_project")
    print("Switched to database 'LH_project'")

    create_table_query = """
        CREATE TABLE IF NOT EXISTS luxury_house_data (
            Property_ID VARCHAR(255),           
            Micro_Market VARCHAR(255),           
            Project_Name VARCHAR(255),         
            Developer_Name VARCHAR(255),        
            Unit_Size_Sqft INT,
            Configuration VARCHAR(255),         
            Ticket_Price_Cr FLOAT, 
            Transaction_Type VARCHAR(255),     
            Buyer_Type VARCHAR(255),     
            Purchase_Quarter DATE,   
            Connectivity_Score INT,   
            Amenity_Score INT,
            Possession_Status VARCHAR(255),      
            Sales_Channel VARCHAR(255),       
            NRI_Buyer VARCHAR(255),       
            Locality_Infra_Score INT,
            Avg_Traffic_Time_Min INT,
            Buyer_Comments VARCHAR(255)
        )
    """
     
    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'Luxury_house_data' created or already exists.")

except pymysql.err.OperationalError as err:
    print("Connection or SQL error:", err)

insert_query = """
    INSERT INTO luxury_house_data (
        Property_ID, Micro_Market, Project_Name, Developer_Name,
        Unit_Size_Sqft, Configuration, Ticket_Price_Cr, Transaction_Type,
        Buyer_Type, Purchase_Quarter, Connectivity_Score, Amenity_Score,
        Possession_Status, Sales_Channel, NRI_Buyer, Locality_Infra_Score,
        Avg_Traffic_Time_Min, Buyer_Comments
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# your DataFrame
df = pd.DataFrame(luxury_house_data)
print(df)

for i, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

conn.commit()
print("Data inserted into Luxury_house_data")